.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
.found{
  border: 1px solid yellow;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.movie-card{
  width:100%;
  height:100%;
}

.Flipcard-front{
  width:100% !important;
  height:100% !important;
  overflow:hidden !important;
}
.Flipcard-back{
  width:100% !important;
  height:100% !important;
  overflow:hidden !important;
}
.Flipcard{
  width:100% !important;
  height:100% !important;
  overflow:hidden !important;
}
.Flipcard-flipper{
  width:100% !important;
  height:100% !important;
  overflow:hidden !important;
}
.special-card{
  width:100%;
  height:100%;
}
/* Animations */
.onHover{
  transition: all .3s !important;


}
.onHover:hover {
  
  transform: scale(1.2) !important;
}
.anima-bounce-in{
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

